<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MAX KINO</title>
    <link rel="stylesheet" href="../../css/style-starter.css">

</head>

<body th:style="'background: url(../../images/' + ${bannerBackground.photo} + ') ; background-repeat: no-repeat; background-position: top center'" >
<img style="width: 100%" src="https://te.esport.in.ua/images/banners/favbet_new.png?v=2" href="#">
<header id="site-header" class="w3l-header">
    <!-- <header id="site-header" class="w3l-header fixed-top"> -->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
        <div class="container">
            <h1><a class="navbar-brand" href="/kino"><span class="fa fa-play icon-log" aria-hidden="true"></span>
                MAX KINO </a></h1>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="fa icon-expand fa-bars"></span>
                <span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto topmenu">
                    <li class="nav-item ">
                        <a class="nav-link" href="/kino">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/afisha">Афиша</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/timetable">Расписание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/soon">Скоро</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cinemas">Кинотеатры</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/stock">Акции</a>
                    </li>

                    <li class="nav-item"><a class="nav-link submenu-link" href="">О кинотеатре</a>
                        <ul class="submenu nav-item">
                            <li class="nav-item"><a href="/news" class="nav-link">Новости</a></li>
                            <li class="nav-item"><a href="/cafe" class="nav-link">Кафе</a></li>
                            <li class="nav-item"><a href="/mobile" class="nav-link">Мобильное приложение</a></li>
                            <li class="nav-item"><a href="/contacts" class="nav-link">Контакты</a></li>
                            <li class="nav-item" th:each="page : ${pages}">
                                <a th:href="@{/page/{id}(id = ${page.id})}" class="nav-link" th:text="${page.title}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="search-right">
                    <a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">Поиск<span
                            class="fa fa-search ml-3" aria-hidden="true"></span></a>

                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <form action="#" method="post" class="search-box">
                                <input type="search" placeholder="Search your Keyword" name="search"
                                       required="required" autofocus="">
                                <button type="submit" class="btn"><span class="fa fa-search"
                                                                        aria-hidden="true"></span></button>
                            </form>
                            <div class="browse-items">
                                <h3 class="hny-title two mt-md-5 mt-4">Все варианты:</h3>
                                <ul class="search-items">
                                    <li><a href="#">Ужасы</a></li>
                                    <li><a href="#">Комедия</a></li>
                                    <li><a href="#">Фантастика</a></li>
                                    <li><a href="#">Драмма</a></li>
                                </ul>
                            </div>
                        </div>
                        <a class="close" href="#close">×</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<img src="/img/defaultImage.png" style="margin:10px auto; width: 100%; height:500px;">

<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="allblog">
                <div class="centerblock">
                    <h1 style="text-align: center; color: black">Мобильные приложения</h1>
                    <div style="width: 100%">
                    <p style="color: black; font-size: 20px">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </div>
                    <div class="left-div4"  style="height: 600px">
                        <img src="../img/mobile.png" style="width: 200px;">
                    </div>
                    <div class="left-div4"  style="height: 600px">
                        <img src="../img/mobile.png" style="width: 200px;">
                    </div>
                    <div class="left-div4"  style="height: 600px">
                        <img src="../img/mobile.png" style="width: 200px;">
                    </div>
                    <div class="left-div4"  style="height: 600px">
                        <img src="../img/mobile.png" style="width: 200px;">
                    </div>

                </div>
                <div class="rightblock">
                    <img src="../img/contex-reclama-verical.jpg"
                         style="width:100%; height:350px;"><br><br>
                    <img src="../img/contex-reclama-verical.jpg"
                         style="width:100%; height:180px;"><br><br>
                    <img src="../img/contex-reclama-verical.jpg"
                         style="width:100%; height:180px;">

                </div>
            </div>
        </div>
    </div>
</section>

<footer class="w3l-footer">
    <section class="footer-inner-main">
        <div class="footer-hny-grids py-5">
            <div class="container py-lg-4">
                <div class="text-txt">
                    <div class="right-side">

                        <div class="row footer-links">


                            <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                <h6>Мобильное приложение</h6>
                                <ul>
                                    <li><a href="#"><img style="width: 93%"
                                                         src="https://www.carersuk.org/images/Graphics/Android-app-on-google-play.svg.png"></img></a>
                                    </li>
                                    <br>
                                    <li><a href="#"><img style="width: 95%"
                                                         src="https://4apk.ru/wp-content/uploads/2019/01/191x66xitunes-app-store-logo.png.pagespeed.ic.yHlmAOacOR.png"></img></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                <h6>Афиша</h6>
                                <ul>
                                    <li><a href="#">Расписание</a></li>
                                    <li><a href="#">Скоро в прокате</a></li>
                                    <li><a href="#">Кинотеатры</a></li>
                                    <li><a href="#">Акции</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                <h6>О кинотеатре</h6>
                                <ul>
                                    <li><a href="#">Новости</a></li>
                                    <li><a href="#">Рекалма</a></li>
                                    <li><a href="#">Кафе-бар</a></li>
                                    <li><a href="#">Контакты</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                <h6>Подпишись</h6>
                                <form action="#" class="subscribe mb-3" method="post">
                                    <input type="email" name="email" placeholder="Ваш Email" required="">
                                    <button><span class="fa fa-envelope-o"></span></button>
                                </form>
                                <p>Введите свой адрес электронной почты и получайте от нас последние новости, обновления
                                    и специальные предложения.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="below-section">
            <div class="container">
                <div class="copyright-footer">
                    <ul class="social text-lg-right">
                        <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </button>

    </section>
</footer>
</body>

</html>

<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/easyResponsiveTabs.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            stagePadding: 0,
            loop: true,
            margin: 20,
            nav: true,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    stagePadding: 40,
                    nav: false
                },
                480: {
                    items: 1,
                    stagePadding: 60,
                    nav: true
                },
                667: {
                    items: 1,
                    stagePadding: 80,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })
    })
</script>

<script>
    $(document).ready(function () {
        $('.owl-three').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 2,
                    nav: false
                },
                480: {
                    items: 2,
                    nav: true
                },
                667: {
                    items: 3,
                    nav: true
                },
                1000: {
                    items: 5,
                    nav: true
                }
            }
        })
    })
</script>

<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>

<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>

<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>