<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div>
    <form th:method="post" th:action="@{/films/film}"  enctype="multipart/form-data">
        <fieldset>
        Название фильма
        <input type="text" th:field = "*{film.name}" id="name" >
        <p> Описание
        <input type="text" th:field = "*{film.description}" id="description">
        </p>
        Главная картинка
        <input type="file" name="file" id="file">
        <p>Галлерея картинок</p>

        Ссылка на трейлер
        <input type="text" th:field="*{film.trailerURL}" id="trailerURL" alt="Ссылка на видео в youtube">
        <input th:each="filmT : ${filmTypeList1}" type="checkbox" th:text="${filmT.nameType}" th:field = "*{film.filmTypeList}" th:value="${filmT.id}" >


        <p>Seo блок</p>
        <p>URL: <input type="text" th:field="*{film.seo.url}" id="url" alt="URL"> </p>
        <p>Title: <input type="text" th:field="*{film.seo.title}" id="title" alt="title"> </p>
        <p>Keywords: <input type="text" th:field="*{film.seo.keywords}" id="keywords" alt="keywords"> </p>
        <p>Description: <input type="text" th:field="*{film.seo.description}" id="seoDescription" alt="description"> </p>
        <input type="submit" value="Сохранить"/>
         </fieldset>
    </form>
</div>
<div>

</div>

</body>
</html>