<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div>
    <form th:method="post" th:action="@{/film}" th:object="${film}" enctype="multipart/form-data">
        <input type="text" th:field="*{name}" id="name">
        <input type="text" th:field="*{description}" id="description">
        <input type="file" name="file">
        <input type="text" th:field="*{trailerURL}" id="trailerURL">
        <input type="text" th:field="*{seo.url}" id="url">
        <input type="text" th:field="*{seo.title}" id="title">
        <input type="text" th:field="*{seo.keywords}" id="keywords">
        <input type="text" th:field="*{seo.description}" id="seo_description">
        <input type="submit" value="Create!"/>
    </form>
</div>
<div th:each="film : ${films}">
    <p th:text="${film.name}">VALUE</p>
</div>
</body>
</html>